<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--Constructor Injection-->
    <bean id="employeeConstructorInjection" class="np.edu.persidential.model.Employee">
        <constructor-arg type="int" value="1"/>
    </bean>

    <!--Setter Injection-->
    <bean id="employeeSetterInjection" class="np.edu.persidential.model.Employee">
        <property name="id" value="2"/>
        <property name="name" value="Nischal Shakya"/>
    </bean>

</beans>